* {
    box-sizing: border-box;
}

.header {
    background-color: aliceblue;
    text-align: center;
}

.img {
    width: 70%;
    float: left;
    height: 50px;
}

.content {
    background-color: antiquewhite;
    padding: 5px;
    margin: 10px;
    width: 50%;
    height: 200%;
    float: left;

}

label {
    margin: 20px;
}

.select {
    margin: 10px;
    padding: 10px;
}

.select,
option {
    background-color: lightskyblue;
}